*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $primary-font;
  box-sizing: border-box;
  font-size: 1.4rem;
  color: $text-color-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button:focus,
button:active,
input:active,
input:focus {
  outline: none !important;
}