.header {
  padding: 2rem 0;
  &__search {
    display: flex;
    .group {
      position: relative;
    }
  }
  &__input {
    border: 1px solid $color-grey;
    color: $color-grey;
    border-radius: 15rem;
    padding: .8rem 1.2rem 0.8rem 3.7rem;
    font-size: 1.3rem;
    font-family: $primary-font;
    width: 20rem;
    margin-left: auto;
  }
  &__button {
    position: absolute;
    left: 1.8rem;
    top: 11px;
    border: none;
    background: none;
    cursor: pointer;
    i {
      color: $color-grey;
      font-size: 1.5rem;
    }
  }
}